<div mat-dialog-title class="title-row">
  <mat-icon *ngIf="!validating && isValid">check</mat-icon>
  <mat-icon *ngIf="!validating && !isValid">cancel</mat-icon>
  <h1>Submit Config</h1>
</div>
<div mat-dialog-content>
  <div class="validation" *ngIf="validating">
    <p>Validating</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-container [ngSwitch]="true">
    <div *ngSwitchCase="isValid && !submitting">
      <p>{{ type }} has been validated by the backend</p>
      <p>Do you wish to submit {{ name }} to the store?</p>
    </div>
    <div *ngSwitchCase="isValid && submitting && !failedSubmit">
      <p>Submitting</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngSwitchCase="!isValid || failedSubmit">
      <div *ngIf="!failedSubmit; else failedsubmit">
        <p>{{ type }} did not pass backend validation.</p>
        <p>Status code: {{ statusCode }}</p>
      </div>
      <ng-template #failedsubmit>
        <p>Submitting failed.</p>
      </ng-template>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Message </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <p class="error">{{ message }}</p>
        </ng-template>
      </mat-expansion-panel>
    </div>
  </ng-container>

  <mat-divider></mat-divider>
</div>
<div *ngIf="!submitting || failedSubmit" mat-dialog-actions class="button-row">
  <button 
    mat-raised-button 
    color="primary" 
    [disabled]="!isValid || failedSubmit" 
    (click)="onClickSubmit()">
    SUBMIT
  </button>
  <button mat-raised-button color="accent" (click)="onClickClose()">
    CANCEL
  </button>
</div>