<div mat-dialog-title class="title-row">
  <mat-icon *ngIf="!validating && isValid">check</mat-icon>
  <mat-icon *ngIf="!validating && !isValid">cancel</mat-icon>
  <h1>Submit Config</h1>
</div>
<div mat-dialog-content>
  <div class="validation" *ngIf="validating">
    <p>Validating</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-container [ngSwitch]="true">
    <div *ngSwitchCase="isValid && !submitting">
      <p>{{ type }} has been validated by the backend</p>
      <p>Do you wish to submit {{ name }} to the store?</p>
    </div>
    <div *ngSwitchCase="isValid && submitting && !failedSubmit">
      <p>Submitting</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-container>

  <mat-divider></mat-divider>
</div>
<div *ngIf="!submitting || failedSubmit" mat-dialog-actions class="button-row">
  <button 
    mat-raised-button 
    color="primary" 
    [disabled]="!isValid || failedSubmit" 
    (click)="onClickSubmit()">
    SUBMIT
  </button>
  <button mat-raised-button color="accent" (click)="onClickClose()">
    CANCEL
  </button>
</div>