<div class="centre-box">
  <div>
    <img class="logo" src="/assets/siembol_logo_dark.svg">
    <div class="services">
      <mat-card *ngFor="let service of userServices" class="service">
        <h2>{{ service.name | titlecase}} </h2>
        <button  *ngIf="service.user_roles.includes(serviceUser)" mat-raised-button color="primary" [routerLink]="['/' + service.name]">{{ service.type | titlecase }}
          Editor</button>
        <button *ngIf="service.user_roles.includes(serviceAdmin)" mat-raised-button color="primary" [routerLink]="['/' + service.name + '/admin']">{{ service.type | titlecase }}
          Admin</button>
        <ng-container *ngIf="repositoryLinks[service.name]">
          <a mat-raised-button color="accent" [href]="repositoryLinks[service.name].rule_store_directory_url">Store Repo</a>
          <a mat-raised-button color="accent" [href]="repositoryLinks[service.name].rules_release_directory_url">Release Repo</a>
          <a *ngIf="repositoryLinks[service.name].test_case_store_directory_url" mat-raised-button color="accent" 
             [href]="repositoryLinks[service.name].test_case_store_directory_url">Testcases Repo
          </a>
          <a *ngIf="repositoryLinks[service.name].admin_config_store_directory_url" mat-raised-button color="accent" 
             [href]="repositoryLinks[service.name].admin_config_store_directory_url">Testcases Repo
          </a>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>