.centre-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-size: 2em;
}

h1 {
    font-weight: 400;
    margin-bottom: 50px;
    color: #eee;
    font-size: 1.5em;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

button {
    margin: 20px auto;
    display: block;
}

.rulesets {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.ruleset {
    margin: 25px;
    padding: 40px 50px;
    h2 {
        font-size: 1em;
        margin-bottom: 20px;
    }
    a {
        display: inline-block;
        margin: 5px;
    }
}

.logo {
        display: block;
        height: 350px;
        margin: auto;
}

::ng-deep .rulesets .mat-raised-button {
    font-size: 18px !important;
    line-height: 46px !important;
}