.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eee;
    background: #212121;
    font-size: 0.8em;
    padding: 0 10px;
    &>div {
        display: flex;
        justify-content: normal;
        align-items: center;
    }
    img {
        display: block;
        height: 100%;
        margin-top: -20px;
        margin-bottom: -18px;
    }
    h1 {
        font-size: 1.8em;
        display: inline-block;
        margin: 0 10px 0 25px;
    }
    mat-icon {
        margin-left: 2px;
        margin-right: 2px;
        display: inline-block;
    }
    h3 {
        font-weight: 400;
    }
    span {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
}

.logo {
    min-width: 248px;
    height: 100%;
    padding: 0 0px;
}

.env {
    margin-left: 0 !important;
    color: #ff9800 !important;
}