.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eee;
    background: #212121;
    font-size: 0.8em;
    padding: 0 30px;
    &>div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        display: block;
        height: 95px;
        margin-top: -5px;
        margin-left: 20px;
    }
    h1 {
        font-size: 1.8em;
        display: inline-block;
        margin: 0 10px 0 25px;
    }
    button {
        margin: 0 5px;
        font-size: 1em;
    }
    mat-icon {
        margin-left: 40px;
        margin-right: 2px;
        display: inline-block;
    }
    h3 {
        font-weight: 400;
    }
}

.logo {
    min-width: 248px;
}

.env {
    margin-left: 0 !important;
    color: #ff9800 !important;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 36px !important;
    padding: 0 30px !important;
}

::ng-deep .mat-button-toggle-checked {
    background: rgba(6, 167, 226, 0.9);
}

mat-progress-bar {
    position: absolute;
    z-index: 1;
}