mat-card {
    width: 100%;
    max-width: 1000px;
    min-width: 800px;
    margin: 20px auto;
}

::ng-deep .show-text .mat-input-element {
    -webkit-text-fill-color: unset !important;
}

mat-form-field {
    width: 100%;
}

::ng-deep mat-expansion-panel {
    margin: 20px 0 !important;
}

::ng-deep mat-hint {
  text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}

