target
*.class
*.iml
*.ipr
*.iws
.idea
*.sc
out
*.sc
metastore_db
*.csv

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
/dsq-prototype/data/*.csv
/dsq-prototype/data
pom.xml.versionsBackup
dependency-reduced-pom.xml

# Python
*.pyc

#Storm
worker.yaml

## Angular

# compiled output
/dist
/dist-test
/tmp
/out-tsc

# dependencies
node_modules/

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Docs
/kunsteriks
/docs/.jekyll-cache
/docs/_site
/Kunstnerisk