mat-card {
    width: 100%;
    max-width: 1000px;
    min-width: 800px;
    margin: 20px auto;
    mat-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            max-width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 20pt;
        }
    }
}

textarea{
    width: 100%;
    height: 100%;
    background-color: white;
    color: inherit;
}

.mat-raised-button {
    margin: 0 5px 0 0;
}

.example {
    color: red;
}

::ng-deep .show-text .mat-input-element {
    -webkit-text-fill-color: unset !important;
}

mat-form-field {
    width: 100%;
}

fieldset {
    background: rgba(255,255,255,0.1);
}

.rule-title {
    display: flex;
    width: 85%;
}

h2 {
    padding: 0 20px 0 0;
}

pre {
    font-size: 0.5em;
    display: inline;
}

::ng-deep mat-expansion-panel {
    margin: 20px 0 !important;
}

::ng-deep .mat-card-header-text {
    margin: 0 !important;
}

::ng-deep material-tabs-widget>.ng-star-inserted {
    margin-top: 20px !important;
}

.scrollbar {
    --scrollbar-thumb-color: #868686;
    --scrollbar-thumb-hover-color: #a1a1a1;
}

.submit-button {
    margin-right: 1em;
}