<mat-card>
  <mat-card-title>
    <div class="rule-title" *ngIf="config?.isNew; else: showTitle">
      <mat-form-field>
        <input
          matInput
          placeholder="Config name"
          [(ngModel)]="configName"
          name="Config name"
        />
      </mat-form-field>
    </div>
    <ng-template #showTitle>
      <h2>{{ (configs$ | async)[selectedIndex]?.name }}</h2>
    </ng-template>
    <div class="button-group">
      <button
        *ngIf="!config?.isNew"
        mat-raised-button
        color="accent"
        title="Clone this config"
        (click)="onClone()"
      >
        Clone
      </button>
      <button
        mat-raised-button
        color="accent"
        title="Test this config"
        (click)="onTest()"
        [disabled]="!testEnabled"
      >
        Test config
      </button>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    <p>
      v{{ (configs$ | async)[selectedIndex]?.version }} by
      {{ (configs$ | async)[selectedIndex]?.author }}
    </p>
  </mat-card-subtitle>
  <mat-form-field *ngIf="sensorFieldsEnabled">
    <mat-label>Data Source</mat-label>
    <mat-select
      (selectionChange)="onSelectDataSource($event.value)"
      [value]="selectedSensor$ | async"
    >
      <mat-option
        *ngFor="let sensor of (sensors$ | async)"
        [value]="sensor.sensor_name"
      >
        {{ sensor.sensor_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-content>
    <form [formGroup]="form" *ngIf="fields">
      <formly-form
        [model]="configData"
        [fields]="fields"
        [options]="options"
        [form]="form"
      ></formly-form>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      class="submit-button"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!form.valid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </mat-card-actions>
</mat-card>
