<mat-card>
  <mat-card-title>
    <div class="rule-title" *ngIf="(editedConfig$ | async).isNew; else: showTitle">
      <mat-form-field>
        <input 
        matInput 
        placeholder="Config name" 
        [(ngModel)]="configName" 
        name="Config name"
        [formControl]="titleFormControl"
        />
        <mat-error 
        *ngIf="titleFormControl.hasError('pattern')">Please enter a valid name
        </mat-error>
      </mat-form-field>
    </div>
    <ng-template #showTitle>
      <h2>{{ configName }}</h2>
    </ng-template>
  </mat-card-title>
  <mat-card-subtitle>
    <p>
      v{{ config?.version }} by
      {{ config?.author }}
    </p>
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form" *ngIf="field">
      <formly-form #formly [model]="configData$ | async" [fields]="[field]" [options]="options" [form]="form"></formly-form>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button 
      class="submit-button" 
      mat-raised-button color="accent" 
      type="submit" 
      [disabled]="!form.valid || titleFormControl.hasError('pattern') || (titleFormControl.hasError('required') && (editedConfig$ | async).isNew)"
      (click)="onSubmit()">
      Submit
    </button>
  </mat-card-actions>
</mat-card>