.search-box {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  mat-icon {
      margin: auto;
  }
  //margin: 10px;
}

mat-checkbox {
    margin: auto;
    margin-right: 20px;
    color: #b5b5b5;
}

mat-form-field {
    padding-right: 20px;
}

.mat-checkbox-layout {
    color: #b5b5b5;
}

.checkboxes {
  display: flex;
  flex: 1;
}
  
.search-container {
  flex: 3;
}