.search-box {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  mat-icon {
      margin: auto;
  }
}

mat-checkbox {
    margin: auto;
    margin-right: 20px;
    color: #b5b5b5;
}

mat-form-field {
    padding-right: 20px;
}
  
.search-container {
  flex: 3;
}