{{- if (has "enrichment_store" .Values.enabled_apps) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: apache-conf
  namespace: {{ .Values.namespace }}
data:
  php.ini-local: |-
{{ .Files.Get "resources/php.ini-local" | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: php-files
  namespace: {{ .Values.namespace }}
data:
  upload.php: |- 
{{ .Files.Get "resources/upload.php" | indent 4 }}
  download.php: |-
{{ .Files.Get "resources/download.php" | indent 4 }}
  index.php: |-
{{ .Files.Get "resources/index.php" | indent 4 }}
{{- end -}}
