.chip {
    display: inline-block;
    margin: 0 auto;
    padding: 2px 5px;
    min-width: 40px;
    text-align: center;
    border-radius: 9999px;
    color: #111;
    background: rgb(180, 180, 180);
    font-family: monospace;
    pointer-events: none;
}

.tag-chip {
    display: inline-block;
    margin: 0 auto;
    padding: 2px 5px;
    min-width: 40px;
    max-width: 200px;
    text-align: center;
    border-radius: 9999px;
    color: #111;
    background: #868686;
    font-family: monospace;
    margin-left: 10px;
}

.tag-text {
    padding-top: 2px;
    font-size: 8pt;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inline {
    display: flex;
}
.inline-title {
    display: flex;
    margin-top: 5px;
}

.column-fixed {
    margin: 0 10px;
    width: 60px;
    min-width: 60px;
}

mat-divider {
    margin-right: 10px;
}

.column {
    overflow: hidden;
}

.tags-column {
    overflow: hidden;
    margin-left: 20px;
    display: inline-flex;
    white-space: nowrap;
}

.warn {
    background: orange !important;
}

.title {
    color: #83d3f1;
    font-size: 18px;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    white-space: nowrap;
    padding-top: 5px;
}

.rule-title {
    color: #83d3f1;
    font-size: 18px;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    white-space: nowrap;
    padding-top: 5px;
    display: contents;
}

.space {
    flex: 5;
}

.author {
    color: white;
    font-size: 14px;
    font-weight: 100;
    flex: 1;
    padding-top: 5px;
    text-align: center;
}

.subtitle {
    font-weight: 100;
    padding-top: 3px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    flex: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box {
    background-color: rgb(68, 68, 68);
    color: inherit;
    padding: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin-bottom: 5px
}

.buttons {
    margin-right: 0px;
    margin-left: auto;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    a {
        margin: 0 5px;
        color: rgb(180, 180, 180);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: white;
        }
    }

    .drag-hint {
        cursor: move;
    }
}

:hover .buttons {
    opacity: 1;
}

.chip-bag {
    margin-top: 5px;
    display: flex;
    pointer-events: none;
}

button {
    line-height: 18px;
    margin-top: 2px;
}

.selected-rule-box {
    @extend .box;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.9) inset !important;
    margin: 20px 0;
}
