<div class="box" [class.selected-rule-box]="selected">
    <div class="inline">
        <div class="column-fixed" [hoverPopover]="config">
            <span class="chip-bag">
                <span #versionChip class="chip" [ngClass]="{'warn': !config.savedInBackend}">v{{config.version || '0' }}</span>
            </span>
            <h4 class="author">{{config.author}}</h4>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <span class="column">
            <div class="inline-title">
                <h3 class="rule-title">{{config.name}}</h3> 
                <span class="tags-column">
                    <div class="tag-chip" [matTooltip]="tag" *ngFor="let tag of config?.tags">
                        <div class="tag-text" *ngIf="tag !== null || tag !== ''">
                            {{tag}}
                        </div>    
                    </div>
                </span>
            </div>
            <h4 class="subtitle">{{config.description}}</h4>
        </span>
        <span class="buttons" *ngIf="!disableButtons">
            <a (click)="editConfig()" [title]="'Edit Config'">
                <mat-icon>edit</mat-icon>
            </a>
            <a (click)="viewConfig()" [title]="'View Json'">
                <mat-icon>pageview</mat-icon>
            </a>
            <a (click)="addToDeployment()" [title]="'Add to Deployment'">
                <mat-icon>arrow_forward</mat-icon>
            </a>
        </span>
    </div>
</div>