<div class="box">
    <div class="inline">
        <div class="column-fixed" 
            [popper]="fileHistory"
            [popperTrigger]="'hover'"
            [popperPlacement]="'left-start'"
            [popperHideOnScroll]="true"
            [popperDisableStyle]="true"
            [popperAppendTo]="'body'"
            [popperModifiers]="{preventOverflow: {boundariesElement: 'viewport'}}">
        <popper-content #fileHistory>
            <re-change-history [history]="config.fileHistory"></re-change-history>
        </popper-content>
            <span class="chip-bag">
                <span #versionChip class="chip">v{{config.version || '0' }}</span>
            </span>
            <h4 class="author">{{config.author}}</h4>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <span class="column">
            <div class="inline-title">
                <h3 class="rule-title">{{config.name}}</h3> 
                <span class="tags-column">
                    <div class="tag-chip" [matTooltip]="tag" *ngFor="let tag of config?.tags">
                        <div class="tag-text" *ngIf="tag !== null || tag !== ''">
                            {{tag}}
                        </div>    
                    </div>
                </span>
            </div>
            <h4 class="subtitle">{{config.description}}</h4>
        </span>
        <span class="buttons">
            <a (click)="editConfig()" [title]="'Edit Config'">
                <mat-icon>edit</mat-icon>
            </a>
            <a (click)="viewConfig()" [title]="'View Json'">
                <mat-icon>pageview</mat-icon>
            </a>
            <a (click)="cloneConfig()" [title]="'Clone Config'">
                <mat-icon>content_copy</mat-icon>
            </a>
            <a *ngIf="notDeployed" (click)="deleteConfigFromStore()" [title]="'Delete Config From Store'">
                <mat-icon>delete</mat-icon>
            </a>
            <a *ngIf="notDeployed" (click)="addConfigToRelease()" [title]="'Add to Release'">
                <mat-icon>arrow_forward</mat-icon>
            </a>
        </span>
    </div>
</div>