<div class="box">
    <div class="inline">
        <div class="column-fixed">
            <span class="chip-bag">
                <span class="chip">v{{config.version || '0' }}</span>
            </span>
            <h4 class="author">{{config.author}}</h4>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <span class="column">
            <h3 class="title">{{config.name}}</h3>
            <button *ngIf="config.versionFlag > 0" mat-button color="accent" (click)="viewDiff()">View Diff</button>
            <button *ngIf="config.versionFlag > 0" mat-button color="accent" (click)="upgradeConfig()">Upgrade to v{{config.versionFlag}}</button>
        </span>
        <span class="buttons">
            <a (click)="deleteConfig()" [title]="'Remove from Deployment'">
                <mat-icon>delete</mat-icon>
            </a>
            <a [title]="'Reorder'" class="drag-hint">
                <mat-icon>swap_vert</mat-icon>
            </a>
        </span>
    </div>
</div>
