.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

mat-card-content {
    max-height: 50px !important;
    overflow-y: hidden !important;
    text-overflow: ellipsis !important;
}

.viewport {
    flex: 2;
    overflow-y: auto;
}

.buttons {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-panel {
    max-width: 400px;
    margin: 5px 10px;
    flex: 1;
}

.right-button {
    margin-left: auto;
    margin-right: 5px;
    color: #83d3f1;
}

.left-button {
    margin-right: auto;
    margin-left: 5px;
}

.scrollbar {
    --scrollbar-thumb-color: #868686;
    --scrollbar-thumb-hover-color: #a1a1a1;
}

.vert-divider {
    margin: 6px;
}