<div class="router-holder">
      <mat-expansion-panel class="logo" [expanded]="true" [hideToggle]="true">
            <img src="/assets/logo.svg">
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>Recently visited</mat-expansion-panel-header>
        <mat-accordion multi="true">
            <ng-container
                class="expansion-panel-container"
                *ngFor="let url of history.slice().reverse();">
                  <mat-expansion-panel [expanded]="false" (click)="routeTo(url.rawUrl)" [hideToggle]="true">
                        <mat-expansion-panel-header [matTooltip]="root + url.rawUrl" #panelH (click)="panelH._toggle()">
                            <div *ngFor="let label of url.labels | keyvalue">
                              <div class="tag-chip" *ngIf="label.value">
                                    <div class="tag-text">
                                    {{label.key | titlecase}}: {{label.value}}
                                    </div>   
                              </div>
                            </div>
                        </mat-expansion-panel-header>
                  </mat-expansion-panel>
            </ng-container>
            <p *ngIf="!history">
                No history to show
            </p>
        </mat-accordion>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>Explore Siembol</mat-expansion-panel-header>
            <mat-grid-list cols="4" rowHeight="2:1">
                  <mat-grid-tile *ngFor="let link of homeHelpLinks">
                        <button [matTooltip]="link.link" class="with-icon" mat-button (click)="openLink(link.link)">
                        <mat-icon>{{link.icon}}</mat-icon>
                        {{link.title}}
                        </button>
                  </mat-grid-tile>
            </mat-grid-list>
      </mat-expansion-panel>
</div>