.container {
    margin: 0 20px;
}

.title {
    text-align: center;
    padding-bottom: 10px;
}

.added {
    color: rgb(41, 145, 41);
}

.removed {
    color: #bd2020;
}

.assertion-table {
    width: 100%;
    padding-top: 15px;
    th {
      font-weight: 400;
      text-align: left !important;
      font-size: 1.1em;
      padding: 2px 7px;
    }
    tr:nth-child(even){
      background: #f5f5f5;
      border-radius: 2px;
    }
    td {
      padding: 5px 7px;
    }
    td:first-child(), th:first-child(){
      padding-left: 0;
    }
    td:last-child(), th:last-child(){
      padding-right: 0;
    }
}