/* HEADER */

.logo img {
    width: 250px !important;
}

.navbar-background {
    background-color: #424242 !important;
}

.navbar-right {
    padding-right: 40px !important;
}

.navbar-header .visible-sm img, .navbar-header .visible-xs img {
    width: 115px !important;   
}

/* HERO IMAGE */

.hero-image{
    background:transparent url('../media/img/hero-image-new.jpg') center 0 no-repeat fixed;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.25) !important;
}

.welcome h1 {
    text-align: center !important;
    text-transform: capitalize !important;
    
}

h1.text-brand-main-color {
    color: #fff !important;
}

.col-lg-12.white h1 a {
    color: #fff !important;
}

/* FEATURES */

.features-thumb {
    border-right: 1px solid #00458D !important;
    border-bottom: 1px solid #00458D !important;
}

.features-thumb:hover .thumb-content {
    background-color: #00AAE1 !important;
}

.features-thumb:hover .thumb-content i.fa {
    color: #fff !important;
    text-shadow: 1px 1px 1px #005CBB,2px 2px 1px #005CBB,3px 3px 1px #005CBB,4px 4px 1px #005CBB,5px 5px 1px #005CBB,6px 6px 1px #005CBB,7px 7px 1px #005CBB,8px 8px 1px #005CBB,9px 9px 1px #005CBB,10px 10px 1px #005CBB,11px 11px 1px #005CBB,12px 12px 1px #005CBB,13px 13px 1px #005CBB,14px 14px 1px #005CBB,15px 15px 1px #005CBB,16px 16px 1px #005CBB,17px 17px 1px #005CBB,18px 18px 1px #005CBB,19px 19px 1px #005CBB,20px 20px 1px #005CBB,21px 21px 1px #005CBB,22px 22px 1px #005CBB,23px 23px 1px #005CBB,24px 24px 1px #005CBB,25px 25px 1px #005CBB,0px 0 1px #000;}

.thumb-content {
    border-left: 1px solid #00458D !important;
}

.thumb-header {
    background-color:#00458D !important;
}

.thumb-content i.text-brand-main-color {
    color:#00458D !important;
}

/* STAY TUNED */

#stay-tuned {
    background-color: #424242;
}

/* TYPOGRAPHY/MISC */

.white {
    color: #fff !important;
}

hr {
    border-color: #00AAE1 !important; 
}


@media screen and (max-width: 480px) {
    .visible-sm img {
        width: 125px !important;
    }
}

/* ANNOUNCEMENT BAR */

.announcement-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
}

.navbar {
    margin-top: 30px;
}
