<h1 mat-dialog-title>Application Manager</h1>
<mat-form-field [ngStyle]="{display: dataSource?.data?.length > 1 ? 'block' : 'none'}"
  class="filter" appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. siembol" #input>
</mat-form-field>
<div class="container">
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{column.header}}
      </th>
      <td mat-cell *matCellDef="let row">
        {{column.cell(row)}}
      </td>
    </ng-container>
    <ng-container matColumnDef="attributes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="onViewAttributes(row.attributes, attributesViewer)">View attributes</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="restart">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" [disabled]="restartedApplications.includes(row.topology_name)" (click)="onRestartApplication(row.topology_name, restartedApplication)">Restart</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="button-layout" color="accent" (click)="onClickClose()">CLOSE</button>
</div>

<ng-template #attributesViewer let-data>
  <mat-accordion [multi]="false" >
    <mat-expansion-panel *ngFor="let attributes of data; index as i; first as isFirst;" [expanded]="isFirst">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Attribute {{i + 1}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="attributes">
        <re-json-tree 
        [json]="attributes" 
        [prevKey]="'$'" 
        [copyOnClick]="false" 
        >
      </re-json-tree>
    </div>
  </mat-expansion-panel>
</mat-accordion>
  <div mat-dialog-actions>
    <button mat-raised-button class="button-layout" color="mat-color($primary)" (click)="onClickCloseAttributes()">CLOSE</button>
  </div>
</ng-template>

<ng-template #restartedApplication let-data>
  State of <b class="bold">{{data}}</b> has been changed, please <b class="bold">wait a few minutes</b> and check storm UI if the new state has been released
  <div mat-dialog-actions>
    <button mat-raised-button class="button-layout" color="accent" (click)="onClickCloseAttributes()">OK</button>
  </div>
</ng-template>