.container {
  font-size: 70%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 10px;
  padding-right: 30px;
  max-width: 70vw;
  max-height: 70vh;
  overflow-y: auto;
}

.button-layout {
  margin-right: 0px;
  margin-left: auto;
}

.mat-header-cell, .mat-cell {
  padding: 10px;
}

.scrollbar {
  --scrollbar-thumb-color: #868686;
  --scrollbar-thumb-hover-color: #a1a1a1;
}

.attributes {
  max-height: 60vh;
  overflow-y: auto;
}