mat-card {
    width: 50%;
    margin: 100px auto;
}

table {
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #525252;
}

.mat-card .mat-divider-horizontal {
    margin: 20px;
    position: relative;
}

h2 {
    padding: 10px 0;
}