.title-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h1 {
        margin-left: 10px;
        font-weight: 400;
        font-size: 1.3em;
    }
}

.rules-list {
    margin-left: 20px;
    max-height: 500px;
    li {
        margin: 10px 0;
        .extra-info {
            color: #bbb;
            font-size: 0.9em;
        }
    }
}

.error {
    font-family: monospace;
}

p {
    margin: 10px 0;
    line-height: 1.6em;
}

.button-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

mat-divider {
    margin: 20px 0;
}