<div mat-dialog-title class="title-row">
  <mat-icon *ngIf="!validating && isValid === true">check</mat-icon>
  <mat-icon *ngIf="!validating && isValid === false">cancel</mat-icon>
  <h1>Submit Deployment</h1>
</div>
<div mat-dialog-content>
  <div class="validation" *ngIf="validating; else validationDone">
    <p> Validating </p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <mat-divider></mat-divider>
  </div>
  <ng-template #validationDone>
    <div *ngIf="isValid === true; else notValid">
      <p>Validation successful</p>
      <p>Deploying to environment: {{ environment }}</p>
      <mat-divider></mat-divider>
      <div *ngIf="hasChanged; else nothingToDeploy">
        <p>Changes in deployment:</p>
        <td-ngx-text-diff
            id="text-diff"
            [left]="(initContent === undefined ? newContent : initContent)"
            [right]="newContent"
            [loading]="false"
            [hideMatchingLines]="false"
            [format]="'SideBySide'"
            [showToolbar]="true"
            (compareResults)="onCompareResults($event)">
        </td-ngx-text-diff>
        </div>
      <ng-template #nothingToDeploy>No change in config.</ng-template>
      <mat-divider></mat-divider>
    </div>
    <ng-template #notValid>
      <p>{{message}}</p>
      <mat-divider></mat-divider>
    </ng-template>
  </ng-template>
</div>

<ng-container *ngIf="uiMetadata.deployment.extras !== undefined">
  <form [formGroup]="form">
    <formly-form [model]="extrasData" [fields]="[field]" [options]="options" [form]="form"
      (modelChange)="updateOutput($event)"></formly-form>
  </form>
  <button mat-raised-button color="primary" (click)="onValidate()">VALIDATE</button>
</ng-container>

<div mat-dialog-actions class="button-row">
  <button mat-raised-button color="primary" [disabled]="!testEnabled || !isValid" (click)="onClickTest(testingDialog)">TEST</button>
  <button mat-raised-button color="primary" [disabled]="!isValid" (click)="onClickDeploy()">DEPLOY</button>
  <button mat-raised-button color="accent" (click)="onClickClose()">CANCEL</button>
</div>

<ng-template #testingDialog>
  <re-config-testing [testingType]="testingType"></re-config-testing>
</ng-template>
