<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true" class="sidenav">
    <div>
      <h2>Services</h2>
      <mat-nav-list>
        <mat-divider class="main-divider" [vertical]="false"></mat-divider>
        <a mat-list-item 
          class="service-list"
          *ngFor="let service of userServices"
          [routerLink]="[getPath(service.name)]" 
          routerLinkActive="active"
        >
          {{ service.name | titlecase }}
          <div style="flex:1;"></div>
          <a class="menuTrigger"
            #trigger=matMenuTrigger 
            [matMenuTriggerFor]="menu" 
            (mouseenter)="buttonEnter(trigger)" 
            (mouseleave)="buttonLeave(trigger)"
            >
            <mat-icon>chevron_right</mat-icon>
          </a> 
          <mat-menu 
            class="myMenu"
            #menu="matMenu" 
            overlapTrigger="false"
            [hasBackdrop]="false"
          > 
            <span (mouseenter)="menuEnter()" (mouseleave)="menuLeave(trigger)">
            <button 
              mat-menu-item 
              *ngIf="service.user_roles.includes(serviceAdmin)" 
              [routerLink]="['/' + service.name + adminPath ]">
              {{service.name | titlecase}} Admin
            </button>
            <button 
              mat-menu-item 
              *ngIf="service.user_roles.includes(serviceUser)" 
              [routerLink]="['/' + service.name]">
              {{service.name | titlecase}} Editor
            </button>
            <span *ngIf="repositoryLinks[service.name]"> 
              <a mat-menu-item [href]="repositoryLinks[service.name].rule_store_directory_url" target="_blank">{{repoNames.store_directory_name}}</a>
              <a mat-menu-item [href]="repositoryLinks[service.name].rules_release_directory_url" target="_blank">{{repoNames.release_directory_name}}</a>
              <a *ngIf="repositoryLinks[service.name].test_case_store_directory_url" mat-menu-item 
                [href]="repositoryLinks[service.name].test_case_store_directory_url" target="_blank">{{repoNames.testcase_store_directory_name}}
              </a>
              <a *ngIf="repositoryLinks[service.name].admin_config_directory_url" mat-menu-item 
                [href]="repositoryLinks[service.name].admin_config_directory_url" target="_blank" >{{repoNames.admin_config_store_directory_name}}
              </a>
            </span>
          </span>
        </mat-menu>
          <mat-divider></mat-divider>
        </a>        
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <re-home-view></re-home-view>
  </mat-sidenav-content>
</mat-sidenav-container>