mat-card {
  overflow: auto;
  width: 100%;
  max-width: 1000px;
  min-width: 800px;
  margin: 20px auto;
  mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      word-break: break-word;
      font-size: 20pt;
      flex: 1;
    }
  }
}

a {
    margin: auto;
    padding-left: 5px;
    cursor: pointer;
    mat-icon {
        vertical-align: middle;
    }
}

.mat-raised-button {
  margin: 0 5px 0 10px;
}

.button-group-end {
    margin-left: auto;
    margin-right: 0px;
    display: flex;
}

.loading {
  color: blue;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 0.2s infinite ease-in-out;
    animation: sk-scaleout 0.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }


  .chip {
    display: inline-block;
    margin: 0 auto;
    padding: 2px 5px;
    min-width: 40px;
    text-align: center;
    border-radius: 9999px;
    color: #111;
    background: rgb(180, 180, 180);
    font-family: monospace;
    pointer-events: none;
}

.tag-chip {
    display: inline-block;
    margin: 0 auto;
    padding: 2px 5px;
    min-width: 40px;
    max-width: 200px;
    text-align: center;
    border-radius: 9999px;
    color: #111;
    background: #868686;
    font-family: monospace;
    margin-left: 10px;
}

.inline {
    display: flex;
}

.inline-title {
    display: flex;
    margin-top: 5px;
}

.column-fixed {
    margin: 0 5px;
    width: 85px;
    min-width: 85px;
}

mat-divider {
    margin-right: 10px;
}

.column {
    overflow: hidden;
}

.title {
    color: #83d3f1;
    font-size: 18px;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    white-space: nowrap;
    padding-top: 5px;
}

.rule-title {
    color: #83d3f1;
    font-size: 18px;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    white-space: nowrap;
    padding-top: 5px;
    display: contents;
}

.space {
    flex: 5;
}

.author {
    color: white;
    font-size: 14px;
    font-weight: 100;
    flex: 1;
    padding-top: 5px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtitle {
    font-weight: 100;
    padding-top: 3px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    flex: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box {
    background-color: rgb(68, 68, 68);
    color: inherit;
    padding: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin-bottom: 5px
}

.right-block {
    margin-right: 0px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.buttons {
    opacity: 0;
    align-items: center;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    a {
        margin: 0 5px;
        color: rgb(180, 180, 180);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: white;
        }
    }
}

:hover .buttons {
    opacity: 1;
}

.chip-bag {
    margin-top: 5px;
    display: flex;
    pointer-events: none;
}