<mat-card>
    <mat-card-title *ngIf="!addNewTest">
        <h2>Test Suite</h2>
        <div class="button-group-end">
            <button mat-icon-button color="primary" title="Add New Test Case" (click)="addTestCase()"><mat-icon>add</mat-icon></button>
            <button mat-raised-button color="accent" title="Run Test Suite" (click)="onRunTestSuite()">Run Test Suite</button>
        </div>
    </mat-card-title>
    <mat-card-title  *ngIf="addNewTest">
        <button mat-raised-button title="Test Suite" (click)="onCancel()"><</button>
        <h2>{{ testCase?.testCase?.test_case_name }}</h2>
        <div class="test-status-badge" *ngIf="selectedTest !== undefined && isSubmitted" [ngClass]="setTestBadge(testCases[selectedTest])" [TestResultsPopover]="testCases[selectedTest]">
            {{testCases[selectedTest]?.testResult?.number_matched_assertions}} : {{testCases[selectedTest]?.testResult?.number_failed_assertions}} : {{testCases[selectedTest]?.testResult?.number_skipped_assertions}}
        </div>
        <button mat-raised-button color="primary" title="Clone Test Case" (click)="onCloneTestCase(testCase)">Clone</button>
        <button mat-raised-button color="accent" title="Run Test Case" [disabled]="!isSubmitted" (click)="runTestCase(testCase.testCase)">Check against Assertions<mat-icon>play_arrow</mat-icon></button>
    </mat-card-title>
    <div *ngIf="!addNewTest; else newTestCase">
        <div class="box" *ngFor="let testCase of testCases; index as i">
            <div class="inline">
                <div class="column-fixed">
                    <span class="chip-bag" [FileHistoryPopover]="testCase">
                        <span #versionChip class="chip">v{{testCase?.testCase?.version || '0' }}</span>
                    </span>
                    <h4 class="author">{{testCase?.testCase?.author}}</h4>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="column">
                    <h3 class="rule-title">{{ testCase?.testCase?.test_case_name }}</h3>
                    <div class="subtitle">
                        {{ testCase?.testCase?.description }} Assertions: {{ testCase?.testCase?.assertions?.length }}
                    </div>
                </div>
                <div class="right-block">
                    <div class="button-group-end">
                        <span class="buttons">
                            <a (click)="editTestCase(i)"><mat-icon>edit</mat-icon></a>
                            <a (click)="onRunTestCase(i)"><mat-icon>play_arrow</mat-icon></a>
                        </span>
                        <span>
                            <div class="test-status-badge" [ngClass]="setTestBadge(testCase)" [TestResultsPopover]="testCase">
                                {{testCase?.testResult?.number_matched_assertions}} : {{testCase?.testResult?.number_failed_assertions}} : {{testCase?.testResult?.number_skipped_assertions}}
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #newTestCase>
        <re-test-case  
            [fields]="fields" [testCase]="testCase.testCase" [output]="output[testCase.testCase.test_case_name] || ''" [options]="options"
            (submittedTest)="onSubmitTestCase($event)" (cancel)="onCancel()" (runTest)="runSingleTest($event)">
        </re-test-case>
    </ng-template>
</mat-card>