.details {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
    font-family: monospace;
    margin: 20px 0;
}

.button-layout {
    margin-right: 0px;
    margin-left: auto;
}

mat-divider {
    margin: 10px 0;
}