.container {
    overflow-y: auto;
    background-color: #fff;
    padding: 1rem;
    font-size: 14px;
    box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    max-height: 500px;
    color: black;
}

.title {
    text-align: center;
    padding-bottom: 10px;
}

.added {
    color: rgb(41, 145, 41);
}

.removed {
    color: #bd2020;
}

.history-table {
    width: 100%;
    th {
      font-weight: 400;
      text-align: left !important;
      font-size: 1.1em;
      padding: 2px 7px;
    }
    tr:nth-child(even){
      background: #f5f5f5;
      border-radius: 2px;
    }
    td {
      padding: 5px 7px;
    }
    td:first-child(), th:first-child(){
      padding-left: 0;
    }
    td:last-child(), th:last-child(){
      padding-right: 0;
    }
}