<ng-scrollbar class="scrollbar">
    <div class="back-button">
        <button mat-raised-button color="primary" (click)="onReturn.emit()" class="back-button-text">
            <mat-icon>keyboard_arrow_left</mat-icon>Config Manager
        </button>
    </div>
    <mat-divider></mat-divider>
    <re-config-tile *ngFor="let config of configs; index as i" [selected]="i == selectedConfig" 
        (click)="selectedIndex.emit(i)" [config]="config" [disableButtons]="'True'">
    </re-config-tile>
</ng-scrollbar>