.back-button {
    margin: 15px;
}

::ng-deep .back-button .mat-raised-button {
    font-size: 1.2em;
}

mat-divider {
    margin: 10px;
}

mat-card {
    margin: 10px;
}

.scrollbar {
    --scrollbar-thumb-color: #868686;
    --scrollbar-thumb-hover-color: #a1a1a1;
}

re-rule-tile {
    margin: inherit 5px;
}