$mat-gr-blue: (
    50: #e1f4fc,
    100: #b4e5f6,
    200: #83d3f1,
    300: #51c1eb,
    400: #2bb4e6,
    500: #06a7e2,
    600: #059fdf,
    700: #0496da,
    800: #038cd6,
    900: #027ccf,
    A100: #f6fbff,
    A200: #c3e4ff,
    A400: #90cdff,
    A700: #77c1ff,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);