@use '@angular/material' as mat;
@import '@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import 'gr-palette';
@import 'text-diff-style.scss';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat.define-palette($mat-gr-blue);
$accent: mat.define-palette(mat.$orange-palette);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette, 600);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat.define-dark-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);


* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  // min-height: 100%;
  // height: auto;
}

