<div mat-dialog-title class="title-row">
  <mat-icon *ngIf="!validating && validationState === validation.PASS">check</mat-icon>
  <mat-icon *ngIf="!validating && validationState === validation.FAIL">cancel</mat-icon>
  <mat-icon *ngIf="!validating && validationState === validation.ERROR">error</mat-icon>
  <h1>Submit Testcase</h1>
</div>
<div mat-dialog-content>
  <div class="validation" *ngIf="validating">
    <p>Validating</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-container [ngSwitch]="validationState">
      <div *ngSwitchCase="validation.PASS">
        <p>Testcase has been validated by the backend</p>
        <p>Do you wish to submit {{ testcase?.test_case_name }} to the store?</p>
      </div>
      <div *ngSwitchCase="validation.FAIL">
        <p>Testcase did not pass backend validation.</p>
        <p>Status code: {{ statusCode }}</p>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title> Message </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
            <p class="error">{{ message }}</p>
            </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title> Exception </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
            <p class="error">
                {{
                exception ||
                    'No exception provided - it may be wrapped in the message'
                }}
            </p>
            </ng-template>
        </mat-expansion-panel>
      </div>
      <div *ngSwitchCase="validation.ERROR">
          <p>An error occurred when communicating with the backend, contact SecDev for support or try again later</p>
          <p class="error">
              Error: {{ errorResponse?.error?.error }} Status Code: {{ errorResponse?.error?.status }}
          </p>
          <p class="error">
              {{ errorResponse.error?.message }}
              {{ errorResponse.error?.attributes?.message }}
          </p>
        </div>
  </ng-container>

  <mat-divider></mat-divider>
</div>
<div mat-dialog-actions class="button-row">
  <button
    mat-raised-button
    color="primary"
    [disabled]="validationState !== validation.PASS"
    (click)="onClickSubmit()"
  >
    SUBMIT
  </button>
  <button mat-raised-button color="accent" (click)="onClickClose()">
    CANCEL
  </button>
</div>
