.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 10px;
    height: calc(100vh - 64px);
    &>mat-divider {
        margin: 0 40px;
    }
    max-width: 3000px;
    margin: auto;
}

#myGrid {
    margin-top: 15px;
    height: 100%;
    width: 100%;
}

.add-button {
    a {
        min-width: 36px;
        padding: 0;
        margin-right: 10px;
    }
}

.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 10px;
    h2 {
        width: 90px;
        max-width: 90px;
        margin: 0 10px;
        font-weight: 400;
        font-size: 1.6em;
    }
}

.pr-message {
    color: orange;
    display: inline-block;
}

re-search {
    width: 100%;
}

.scrollbar {
    --scrollbar-thumb-color: #868686;
    --scrollbar-thumb-hover-color: #a1a1a1;
}

.refresh-button {
    margin: 0;
    padding: 0;
}

.grid-footer {
    text-align: right;
    padding: 5px 10px 3px;
    background: #444444;
    border-radius: 5px;
    font-size: 18px;
}

.mat-drawer-container {
    z-index: auto;
}

.mat-drawer-content {
    z-index: auto;
}

.mat-drawer-fixed {
    position: absolute;
}