<block-ui>
    <ng-scrollbar [track]="'all'" class="scrollbar">
        <div class="container">
            <div class="container-title">
                <re-search 
                    [searchTerm]="searchTerm$ | async" 
                    [filterMyConfigs]="filterMyConfigs$ | async" 
                    [filterUnreleased]="filterUnreleased$ | async"
                    [filterUpgradable]="filterUpgradable$ | async" 
                    (searchTermChange)="onSearch($event)" 
                    (myConfigsChange)="onFilterMine($event)"
                    (unreleasedConfigsChange)="onFilterUnreleased($event)" 
                    (updatedConfigsChange)="onFilterUpgradable($event)"
                    >
                </re-search>
                <div class="add-button">
                    <a mat-button color="primary" title="Create Config" (click)="onClickCreate()">
                        <mat-icon>add</mat-icon>
                    </a>
                </div>
                <div *ngIf="!disableEditingFeatures" class="add-button">
                    <a mat-button color="primary" title="Paste Config from Clipboard" (click)="onClickPaste()">
                        <mat-icon>content_paste</mat-icon>
                    </a>
                </div>
                <div class="add-button">
                    <a 
                        *ngIf="useImporters && (importers$ | async)?.config_importers.length === 1" 
                        mat-button 
                        color="primary" 
                        title="Import Config from Clipboard" 
                        (click)="onClickImport(0)">
                        <mat-icon>file_upload</mat-icon>
                    </a>
                    <a 
                        *ngIf="useImporters && (importers$ | async)?.config_importers.length > 1"
                        mat-button 
                        [matMenuTriggerFor]="menu" 
                        color="primary" 
                        title="Import Config from Clipboard" >
                        <mat-icon>file_upload</mat-icon>
                    </a>
                    <mat-menu #menu="matMenu">
                        <button 
                            *ngFor="let importer of (importers$ | async)?.config_importers; index as i;" 
                            (click)="onClickImport(i)" 
                            mat-menu-item>
                            {{importer.importer_name | titlecase}} Importer
                        </button>
                        </mat-menu>
                </div>
                <span *ngIf="(pullRequestPending$ | async).pull_request_pending === false && (releaseSubmitInFlight$ | async) === false; else prMessage">
                    <button [disabled]="(countChangesInRelease$ | async) === 0" class="button" mat-raised-button color="accent" title="Release Configs in PR" (click)="onRelease()">
                        RELEASE PR ({{ countChangesInRelease$ | async }})
                    </button>
                </span>
                <ng-template #prMessage>
                    <span style="width: 400px">
                        <a mat-button 
                            color="accent" 
                            style="padding: 0"
                            *ngIf="(pullRequestPending$ | async).pull_request_url !== undefined" 
                            href="{{(pullRequestPending$ | async)?.pull_request_url}}"
                            rel="noopener noreferrer"
                            target="_blank">PR for release pending</a>
                        <button class="refresh-button" mat-button color="accent" title="sync with git" (click)="onSyncWithGit()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </span>
                </ng-template>
            </div>
            <mat-divider></mat-divider>
            <ag-grid-angular
                #agGrid
                id="myGrid"
                class="ag-theme-alpine-dark"
                [columnDefs]="columnDefs"
                [context]="context"
                [defaultColDef]="defaultColDef"
                [immutableData]="true"
                [rowData]="(rowData$ | async)"
                [gridOptions]="gridOptions"
                [getRowNodeId]="getRowNodeId"
            ></ag-grid-angular>
        </div> 
    </ng-scrollbar>
</block-ui>