<block-ui>
    <ng-scrollbar [track]="'all'" class="scrollbar">
        <div class="container">
            <div class="rules-container">
                <div class="container-title">
                    <div class="title-info">
                        <h2>Store</h2>
                        <span class="item-count">{{(allConfigs$ | async).length}} {{(allConfigs$ | async).length === 1 ? 'item': 'items'}}</span>
                    </div>
                    <re-search [searchTerm]="searchTerm$ | async" [filterMyConfigs]="filterMyConfigs$ | async" [filterUndeployed]="filterUndeployed$ | async"
                        [filterUpgradable]="filterUpgradable$ | async" (searchTermChange)="onSearch($event)" (myConfigsChange)="onFilterMine($event)"
                        (undeployedConfigsChange)="onFilterUndeployed($event)" (updatedConfigsChange)="onFilterUpgradable($event)">
                    </re-search>
                    <div class="add-button">
                        <a mat-button color="primary" title="Create Config" (click)="onClickCreate()">
                            <mat-icon>add</mat-icon>
                        </a>
                    </div>
                    <div *ngIf="!disableEditingFeatures" class="add-button">
                        <a mat-button color="primary" title="Paste Config from Clipboard" (click)="onClickPaste()">
                            <mat-icon>content_paste</mat-icon>
                        </a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div @list cdkDropList id="store-list" [cdkDropListData]="allConfigs$ | async" [cdkDropListConnectedTo]="['deployment-list']" [cdkDropListEnterPredicate]="noReturnPredicate"
                    (cdkDropListDropped)="drop($event)" class="rule-list">
                        <re-config-tile *ngFor="let config of (filteredConfigs$ | async); index as i; trackBy: trackConfigByName"
                            cdkDrag [cdkDragData]="config" [config]="config" [notDeployed]="i>=filteredDeployment.configs.length" (edit)="onEdit(i)" (view)="onView(i)" (clone)="onClone(i)" (addToDeployment)="addToDeployment(i)" (deleteFromStore)="deleteConfigFromStore(i)">
                        </re-config-tile>
                    </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="deployment-container">
                <div class="deployment-container-title">
                    <div class="title-info">
                        <h2>Deployment</h2>
                        <span class="item-count">{{filteredDeployment.configs.length}} {{filteredDeployment.configs.length === 1 ? 'item': 'items'}}</span>
                    </div>
                    <div class="history-button" 
                        [popper]="fileHistory"
                        [popperTrigger]="'hover'"
                        [popperPlacement]="'left-start'"
                        [popperHideOnScroll]="true"
                        [popperDisableStyle]="true"
                        [popperAppendTo]="'body'">
                        <popper-content #fileHistory>
                            <re-change-history [history]="deploymentHistory.fileHistory"></re-change-history>
                        </popper-content>
                        <mat-icon>history</mat-icon>
                    </div>
                    <span *ngIf="(pullRequestPending$ | async).pull_request_pending === false && (releaseSubmitInFlight$ | async) === false; else prMessage">
                        <button class="button" mat-button color="accent" title="Deploy Configs" (click)="onDeploy()">DEPLOY</button>
                    </span>
                    <ng-template #prMessage>
                        <span>
                            <a mat-button color="accent" *ngIf="(pullRequestPending$ | async).pull_request_url !== undefined" href="{{(pullRequestPending$ | async)?.pull_request_url}}"
                                target="_blank">PR for release pending</a>
                            <button class="button" mat-button color="accent" title="sync with git" (click)="onSyncWithGit()">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </span>
                    </ng-template>
                </div>
                <mat-divider></mat-divider>
                <div @list cdkDropList id="deployment-list" [cdkDropListData]="(deployment$ | async).configs" [cdkDropListEnterPredicate]="duplicateItemCheck"
                    class="deployment-list" (cdkDropListDropped)="drop($event)">
                    <ng-container *ngIf="!deployment || !deployment.configs || deployment.configs.length === 0; else configTile">
                        <div class="placeholder-box">
                            <h4>drag item here to add to deployment</h4>
                        </div>
                    </ng-container>
                    <ng-template #configTile>
                            <re-deployment-tile *ngFor="let cfg of (filteredDeployment$ | async).configs; index as i; trackBy: trackConfigByName" [cdkDragData]="[cfg, deployment]" cdkDrag
                                [config]="cfg" (onDelete)="onRemove(i)" (onUpgrade)="upgrade(i)" (onViewDiff)="onView(i, i)"></re-deployment-tile>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-scrollbar>
</block-ui>